$blue: #00c1ff;
$blue-filter: brightness(0) saturate(100%) invert(72%) sepia(36%) saturate(7026%) hue-rotate(158deg) brightness(99%) contrast(109%);
$gray: #8a8d96;
$green: #00c714;

$background-color-1: #141b2d;
$background-color-2: #161f35;

$transition: cubic-bezier(0.165, 0.84, 0.44, 1);
$button-shadow: 0.75rem 0.75rem 0 rgba(black, 0.15);

$animation-duration: 700ms;
$animation-title-duration: 700ms;
$animation-title-delay: 150ms;

// ==========
// RESPONSIVENESS
// ==========

$desktop_height_min: 900px;
$laptop_max: 1512px;
$small_laptop_max: 1312px;
$tablet_max: 1000px;
$small_tablet_max: 1080px;
$phone_max: 980px;
$small_phone_max: 600px;

@mixin resizable-width {
    @include desktop-only {
        width: calc(1300px);
    }

    @include laptop-only {
        width: calc(950px);
    }

    @include tablet-only {
        width: 80vw;
    }

    @include phone-only {
        width: 80vw;
    }
}

@mixin desktop-only {
    @media (min-width: $laptop_max) {
        @content;
    }
}

@mixin laptop-only {
    @media (max-width: $laptop_max) {
        @media (min-width: $tablet_max) {
            @content;
        }
    }
}

@mixin small-laptop-only {
    @media (max-width: $small_laptop_max) {
        @media (min-width: $tablet_max) {
            @content;
        }
    }
}

@mixin tablet-only {
    @media (max-width: $tablet_max) {
        @media (min-width: $phone_max) {
            @content;
        }
    }
}

@mixin tablet-below {
    @media (max-width: $tablet_max) {
        @content;
    }
}

@mixin above-tablet {
    @media (min-width: $tablet_max) {
        @content;
    }
}

@mixin small-tablet-only {
    @media (max-width: $small_tablet_max) {
        @media (min-width: $phone_max) {
            @content;
        }
    }
}

@mixin not-phone {
    @media (min-width: $phone_max) {
        @content;
    }
}

@mixin phone-only {
    @media (max-width: $phone_max) {
        @content;
    }
}

@mixin small-phone-only {
    @media (max-width: $small_phone_max) {
        @content;
    }
}
