@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&display=swap');

html,
body,
#__nuxt {
    height: 100%;
    width: 100%;

    margin: 0;

    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    color: white;

    scroll-behavior: smooth;

    @include desktop-only {
        font-size: 18px;
    }

    @include tablet-only {
        font-size: 13px;
    }

    @include phone-only {
        font-size: 14px;
    }
}

* {
    box-sizing: border-box;
}

// ==========
// GRADIENT
// ==========

body {
    background-color: $background-color;
}

.page {
    background-image: $gradient-main;
}

// ==========
// SCROLLBAR
// ==========

body {
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.0);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);

    border-radius: 1000px;
}

::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.7);

    border-radius: 1000px;
}