@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html,
body,
#__nuxt {
    position: relative;

    min-height: 100vh;
    width: 100%;

    margin: 0;

    font-family: "Inter", sans-serif;
    color: white;

    scroll-behavior: smooth;

    font-family: 16px;
}

* {
    box-sizing: border-box;
}

// ==========
// GRADIENT
// ==========

body {
    background-color: $background-color;
}

// ==========
// SCROLLBAR
// ==========

body {
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);

    border-radius: 1000px;
}

::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.7);

    border-radius: 1000px;
}
