@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html,
body,
#__nuxt {
    position: relative;

    min-height: 100vh;
    width: 100%;

    margin: 0;

    font-family: "Inter", sans-serif;
    background-color: $background-color-1;
    color: white;

    font-size: 16px;

    @include laptop-only {
        font-size: 14px;
    }

    @include small-laptop-only {
        font-size: 12px;
    }

    @include tablet-below {
        font-size: 12px;
    }
}

html {
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
}

// ==========
// SCROLLBAR
// ==========

body {
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);

    border-radius: 1000px;
}

::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.7);

    border-radius: 1000px;
}

// ==========
// UTILS
// ==========

.page-title {
    margin: 3rem 0;

    font-weight: 700;
    font-size: 2.5rem;

    animation: $animation-title-duration forwards slide-from-top;

    opacity: 0;
}

@keyframes slide-from-top {
    0% {
        transform: translateY(-50px);
        opacity: 0.001;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-from-right {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
