$blue: #007FDB;
$gray: #676767;
$green: #00C714;

$gradient-main: linear-gradient(to top,
        rgba($blue, 0.4),
        rgba($blue, 0.6) 10%,
        rgba($blue, 0.8) 30%,
        rgba($blue, 1) 50%);

// ==========
// RESPONSIVENESS
// ==========

$desktop-width: 1512px;

@mixin desktop-only {
    @media (min-width: $desktop-width) {
        @content;
    }
}