$blue: #007FDB;
$darkblue: #0066db;
$navy: #142D4F;
$gray: #676767;
$green: #00C714;

$background-color: #141B2D;

$content-desktop: 1300px;
$content-laptop: 1000px;
$content-tablet: 80vw;
$content-phone: 80vw;

$gradient-opacity: 0.05;
$gradient-main: linear-gradient(to right,
        rgba(#00FF75, $gradient-opacity),
        rgba(#00C2FF, $gradient-opacity) 20%,
        rgba(#00C2FF, $gradient-opacity) 80%,
        rgba(#FF3030, $gradient-opacity));

$gradient-hero: linear-gradient(to top, #222D40, #131C2D);

// ==========
// RESPONSIVENESS
// ==========

$laptop_max: 1512px;
$tablet_max: 1200px;
$phone_max: 500px;

@mixin resizable-width {
    @include desktop-only {
        width: $content-desktop;
    }

    @include laptop-only {
        width: $content-laptop;
    }

    @include tablet-only {
        width: $content-tablet;
    }

    @include phone-only {
        width: $content-phone;
    }
}

@mixin desktop-only {
    @media (min-width: $laptop_max) {
        @content;
    }
}

@mixin laptop-only {
    @media (max-width: $laptop_max) {
        @media (min-width: $tablet_max) {
            @content;
        }
    }
}

@mixin tablet-only {
    @media (max-width: $tablet_max) {
        @media (min-width: $phone_max) {
            @content;
        }
    }
}

@mixin not-phone {
    @media (min-width: $phone_max) {
        @content;
    }
}


@mixin phone-only {
    @media (max-width: $phone_max) {
        @content;
    }
}